body {
    /* background-image: url(../images/nordwood.jpg);
     background-repeat: no-repeat; */
     background-color: #FFFFFF;
     font-family: 'Quattrocento Sans', sans-serif;
}
header{
    /* background-color: #e4dbd2; */
    font-size: 1.4rem;
    padding-bottom: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    

}
header > h1{
    /* color: #0d2a38; */
    color: #23607f;
    font-size: 3rem;
    font-family: 'Quattrocento Sans', sans-serif;
}
header > h2{
    padding-bottom: 15px;
    color: #23607f;
    font-size: 1.2rem;
    font-family: 'Quattrocento Sans', sans-serif;
}

header > h3{
    justify-content: center;
}
.main_links>ul{
    display: flex; 
    justify-content: space-around;
    /* background-color: #e4dbd2; */
    font-size: 1.6rem;
    border: #23607f;
    background-color: #23607f49;
    border-style: solid;
    border-width: 5p;
    list-style-type: none; 
     
    
    
}
.main_links>ul>li{
    border: #b9bdc6;
    
   
}



.social_links >ul{
    /* background-color:#e4dbd2; */
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;

}
.project_title{
    background-color: #23607f; 
    color: #b9bdc6;
    text-align: center;
    border-radius: 25px;
    height: 3vh;
    width: auto;
    
}
.project_title>h3{
    color: #b9bdc6;
    text-align: center;
    
    
}
.project_description_paragraphs{
    background-color: #23607f15;;
    table-layout: fixed;
    height: 30vh; 
    width: auto;
    line-height: 25px;
   font-size: 1vw;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   border-radius: 25px;
}
header > h1 {

    display: flex;
    justify-content: center;
    text-decoration: #0D2A38;

    
}
header > h2 {
    /* background-color:hsl(30, 25%, 86%); */
    display: flex;
    justify-content: center;
}
.about_main_content{
    display: flex;
    flex-direction:column;
    width: 60%;
    padding-left: 10%;
    table-layout: fixed;
    justify-content: center;
    
    
}


.about_main_content >h2{
    background-color: #23607f;
    display: flex;
    justify-content: center;
    size: 20px;
    color: hsl(210, 100%, 99%);
    width: 100%;
    height: 10%;
    border-radius: 25px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
}
.about_main_content > p{
    background-color: #23607f15;
    width: 100%; 
    height: 100%;  
    line-height: 25px;
   font-size: 20px;
   border-radius: 25px;
}
.aboutParagraph{
    padding: 1em 1em 1em 1em;
    
}
.project_header{
    display: flex;
    justify-content: center;
    padding-inline: 10%;
    padding-top: 5%;
    
}
.project_main_content{
    display: flex;
    padding-inline: 0%;
    justify-content:space-evenly;
}
.project_description_paragraphs{
    display: flex;

}
.project_bubble{
   padding-inline: 1%;
   table-layout: fixed;
   width: 300px;
   height: 300px;  
  

}
.photo_with_about_section{
    display: flex;
    padding-top: 0px;
    justify-content: center;
    width: 90vw;
    align-items: center;

}
.picture{

    width: 25%;
    height: auto;
    padding-left: 10px;
    
}
.sunflowerpicture{
    width: 100%;
}

  




.skills > ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: #23607f; ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    border: #b9bdc6;
    background-color: #b9bdc6;
    border-style: solid;
    border-width: 5p;
    padding: 20px 20px;
    border-radius: 25px;
    width: 95vw;
}
.skills > h1{
    display: flex;
    justify-content: center;
    padding-top: 150px; 
    padding-bottom: 60px;
}
.skills{
    width: 90 vw;
    height: auto;
}

.contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 50px;
}

.main_links>ul>li:link{
    text-decoration: #b9bdc6; 
}
    .main_links>ul>li:hover{
        text-decoration: #b9bdc6;
        background-color: #23607f;
        transform: translateY(0) scale(1.2);
        
    }
    .main_links>ul>li:visited{
        text-decoration: #b9bdc6; 
    }

    
    .project_bubble:hover{
        transform: translateY(0) scale(1.2);  
    }
    @media screen and (max-width: 1200px){
        .project_main_content{
            height:auto;
            
        }
        .project_description_paragraphs{
            font-size: .55rem;
        }

    }
        
    }




}