body{ 
    background-color: #e4dbd2
}
header{
    background-color: #e4dbd2;
    font-size: 1.4rem;
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    

}
header > h2{
    padding-bottom: 15px;
    color: #0d2a38;
}
header > h1{
    color: #0d2a38;
}
.main_links>ul{
    display: flex; 
    justify-content: space-around;
    background-color: #e4dbd2;
    font-size: 1.6rem;
    border: #b9bdc6;
    border-style: solid;
    border-width: 5p;
    list-style-type: none; 
     
    
    
}
.main_links>ul>li{
    border: #b9bdc6;
    
   
}



.social_links >ul{
    background-color:#e4dbd2;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;

}
.project_title{
    background-color: #23607f; 
    color: #b9bdc6;
    text-align: center;
    border-radius: 25px;
    
}
.project_title>h3{
    color: #b9bdc6;
    text-align: center;
    
}
.project_description_paragraphs{
    background-color: #b9bdc6;
    table-layout: fixed;
    height: 250px; 
    line-height: 25px;
   font-size: 20px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 150p;
   border-radius: 25px;
}
header > h1 {

    display: flex;
    justify-content: center;
    text-decoration: #0D2A38;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
header > h2 {
    background-color:#e4dbd2;
    display: flex;
    justify-content: center;
}
.about_main_content{
    display: flex;
    flex-direction:column;
    width: 40%;
    height:auto ;
    padding-left: 20%;
    
}

.about_main_content >h2{
    background-color: #23607f;
    display: flex;
    justify-content: center;
    size: adjust 20px;
    color: #b9bdc6;
    width: 780px;
    height: 33px;
    border-radius: 25px;
    
}
.about_main_content > p{
    background-color: #b9bdc6;;
    width: 780px; 
    height: 200px;  
    line-height: 25px;
   font-size: 20px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 25px;
}
.project_header{
    display: flex;
    justify-content: center;
    padding-inline: 10%;
    padding-top: 5%;
    
}
.project_main_content{
    display: flex;
    padding-inline: 0%;
    justify-content:space-evenly;
}
.project_description_paragraphs{
    display: flex;

}
.project_bubble{
   padding-inline: 1%;
   table-layout: fixed;
   width: 300px;
   height: 300px;  
  

}
.picture{

    justify-content: left;
    width: 300px ;
    height: auto;
    padding-left: 150px;
    
}
.photo_with_about_section{
    display: flex;
    padding-top: 0px;
   
}




.skills > ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: #0d2a38 ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    border: #b9bdc6;
    background-color: #b9bdc6;
    border-style: solid;
    border-width: 5p;
    padding: 20px 20px;
    border-radius: 25px;
}
.skills > h1{
    display: flex;
    justify-content: center;
    padding-top: 150px; 
    padding-bottom: 60px;
}
.contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 50px;
}

.main_links>ul>li:link{
    text-decoration: #b9bdc6; 
}
    .main_links>ul>li:hover{
        text-decoration: #b9bdc6;
        background-color: #23607f;
        transform: translateY(0) scale(1.2);
        
    }
    .main_links>ul>li:visited{
        text-decoration: #b9bdc6; 
    }

    
    .project_bubble:hover{
        transform: translateY(0) scale(1.2);  
    }




}